
{{#if m}}
    <div class="alert alert-success">
        {{m}}
    </div>
{{/if}}


<div class="text-center"><h2>TWEETER</h2></div>
{{#if tweets}}
    {{#each tweets}}
        <div class="container" style="width: 50%">

            <div class="panel panel-info">
                <div class="panel-heading"><img src="../uploads/{{this.filea}}" style="height:50px;width:50px;border-radius: 50%" onerror="this.src='../public/person-flat.png';">&nbsp;&nbsp;{{this.name}}</div>
                <div class="panel-body" style="word-wrap: break-word;">{{this.tweet}}</div>
            </div>
        </div>
    {{/each}}
{{else}}
<h2>No tweets yet!</h2>    
{{/if}}

